@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/* @collapse */
:root {
	--primary-clr: #ffffec;
	--secondary-clr: #81b5a8;
	--accent-clr: #40e0ff;
	--shadow: #898989;
}
* {
	font-family: "Merriweather", serif;
}
/* Elements */
card {
	margin: 10px;
	display: flex;
	flex-direction: column;
	background-color: #ededed;
	height: 281px;
	width: 300px;
	border: 10px solid #bbbbbb;
	box-shadow: -2px 3px #898989;
	padding-left: 1%;
	padding-right: 1%;
}

p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
button {
	display: flex;
	min-width: fit-content;
	justify-content: center;
	cursor: pointer;
	border: none;
	box-shadow: -2px 3px #898989;
	border-radius: 10px;
	/* margin-top: 10%; */
	margin-bottom: 10%;
	/* margin-left: 10%; */
	/* margin-right: 10%; */
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 32px;
}
button:hover {
	/* box-shadow: inset 2px 3px; */
	box-shadow: -2.5px 3.5px #898989;
	margin-bottom: 9.99%;
	/* margin-left: 9.99%; */
	/* margin-right: 9.99%; */
	/* padding-top: 3%; */
	/* padding-bottom: 3%; */
}
button:active {
	box-shadow: inset -2px 2px 1px 1px var(--shadow);
}
input {
	width: 97%;
}
/* Utility Classes */
.primary-clr {
	background-color: var(--primary-clr);
}
.secondary-clr {
	background-color: var(--secondary-clr);
}
.accent-clr {
	background-color: var(--accent-clr);
}
.border {
	border: dashed;
	border-width: 1px;
	border-color: grey;
}
.cursor-pointer {
	cursor: pointer;
}
.greyed-out {
	background-color: #989898;
	box-shadow: inset -4px 5px #898989;
}
/* Top Navigation */
.navigation-wrap {
	/* z-index: 2; */
	/* position: sticky; */
	/* top: 1%; */
	display: flex;
	justify-content: center;
	width: 100vw;
	max-height: 82px;
	/* position: fixed; */
}
/* Body of site  */
.content-wrap {
	display: grid;
	grid-template-columns: 1fr 8fr;
}

/* Side Navigation */
.side-navigation {
	position: sticky;
	top: 0%;
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-right: 10%;
	/* background-color: #fcfcd4; */
	/* max-width: 941px; */
	width: 280px;
	height: fit-content;
	/* right: 0%; */
	/* box-shadow: inset -0.2rem 0.2rem 8px #898989; */
}
.user {
	display: flex;
	align-content: center;
	/* justify-content: center; */
	border-bottom: solid 2px var(--secondary-clr);
	padding-bottom: 10px;
}
#title {
	padding-left: 15px;
	width: 93%;
}
#author {
	padding-left: 15px;
	width: 93%;
}
.boxed {
	/* margin-bottom: 10%; */
	width: fit-content;
}
.boxed label {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
}
.boxed input[type="radio"] {
	display: none;
}
.boxed input[type="radio"]:checked + label {
	background-color: var(--secondary-clr);
}
.dropdown {
	width: 100%;
	background-color: white;
}
.yes-no {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	/* border: dashed 1px grey; */
	/* margin-left: 4%; */
	/* margin-right: 4%; */
}
.add-book-btn {
	width: 100%;
	margin-top: 10%;
}
select {
	font-size: 20px;
	background-color: var(--primary-clr);
}

/* Results Panel */
.results-panel {
	/* position: fixed; */
	/* left: 15%; */
	display: flex;
	flex-flow: row wrap;
	margin-left: 3%;
}
